<div class="jumbotron">
 <!-- <h1>{{::statistics.documents_count | number}} gazettes</h1>
  <p class="teaser">from {{metadata.app.countries}}</p> -->
  <div class="search-area">
    <form class="form-horizontal actions" role="search" ng-submit="searchDocuments(form)">
      <div class="input-group">
        <input type="text" class="form-control" autofocus ng-model="documentsQuery.q"
            placeholder="{{::statistics.documents_count | number}} documents">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <p class="context sample-searches">
        Examples:
        <span ng-repeat="sample in metadata.app.samples">
            <span ng-if="!$last"><a href="/documents?q={{::sample}}">{{::sample}}</a>,</span>
          <span ng-if="$last">or <a href="/documents?q={{::sample}}">{{::sample}}</a></span>
        </span>
        ,
          or
        <a href="/documents/sources">browse sources</a>
        .
      </p>
    </form>
  </div>
    <h2 class="page-section__h2" style="font-weight: 700; color: rgba(0,0,0,0.6); font-size: 1.2rem; text-transform: capitalize">Filter by Jurisdiction</h2>
    <div class="list-group">
        <a ng-repeat="collection in collections.results track by collection.id"
           href="/documents?filter:collection_id={{::collection.id}}"
           class="list-group-item">
            Coll obj: {{::collection }}
          <span class="badge" ng-if="collection.doc_count">
            {{::collection.doc_count | number}}
          </span>
          <privacy-icon subject="collection"></privacy-icon>
          <strong>{{::collection.label}}</strong>
        </a>
      </div>
    <ul class="flag-group" >
        <li class="flag-item-container" ng-repeat="collection in collectionData">
            <a class="flag-item__country-name" href="{{collection.url}}">
                <div class="flag-item" style="background-image: url(https://raw.githubusercontent.com/hjnilsson/country-flags/master/png100px/{{ collection.country_code}}.png)"></div>
                {{ collection.country }}</a>
        </li>
</div>

<div class="home screen">
  <div class="row">
    <div class="col-md-4 feature">
      <h2> <i class="fa fa-fw fa-file-text"></i>
        Search documents
      </h2>

      <p>
        {{metadata.app.title}} lets you search across
        <a href="/collections">
          {{::statistics.collections_count | number}} collections
        of {{metadata.app.nationality}} gazettes
        </a>
        from {{metadata.app.opengazettes_url}}
      </p>
    </div>

    <div class="col-md-4 feature" ng-if="::!authz.logged_in()">
      <h2> <i class="fa fa-bell"></i>
        E-Mail Alerts
      </h2>
      <p>
        As new material gets added, you can stay informed about
        any additional matches for your previous searches by
        setting up e-mail alerts.
      </p>

    </div>

    <div class="col-md-4 feature">
      <h2>
        <i class="fa fa-fw fa-users"></i>
        Persons of interest
      </h2>
      <p>
        Gazettes are cross-referenced with persons and companies by ID and CIPC numbers respectively.
      </p>
      <form class="form-horizontal actions" role="search" ng-submit="searchEntities(form)">
        <div class="input-group">
          <input type="text" class="form-control" autofocus ng-model="entitiesQuery.q"
            placeholder="{{::statistics.entities_count | number}} people and companies">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
        <p class="context">
          <a href="/datasets">Browse databases</a>.
        </p>
      </form>
    </div>
  </div>

</div>

