<div class="jumbotron">
  <h1>{{::statistics.documents_count | number}} gazettes</h1>
  <p class="teaser">from {{metadata.app.start_year}} to {{metadata.app.end_year}} available</p>
  <div class="search-area">
    <form class="form-horizontal actions" role="search" ng-submit="searchDocuments(form)">
      <div class="input-group">
        <input type="text" class="form-control" autofocus ng-model="documentsQuery.q"
            placeholder="{{::statistics.documents_count | number}} documents">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <p class="context sample-searches">
        Examples:
        <span ng-repeat="sample in metadata.app.samples">
          <span ng-if="$last">or</span>
          <a href="/documents?q={{::sample}}">{{::sample}}</a>
          <span ng-if="!$last">,</span>
        </span>
        ,
          or
        <a href="/documents/sources">browse sources</a>
        .
      </p>
    </form>
  </div>
</div>

<div class="home screen">
  <div class="row">
    <div class="col-md-4 feature">
      <h2> <i class="fa fa-fw fa-file-text"></i>
        Search documents
      </h2>

      <p>
        {{metadata.app.title}} lets you search across
        <a href="/collections">
          {{::statistics.collections_count | number}} collections
        of {{metadata.app.nationality}} gazettes
        </a>
        from {{metadata.app.opengazettes_url}}
      </p>
    </div>

    <div class="col-md-4 feature" ng-if="::!authz.logged_in()">
      <h2> <i class="fa fa-bell"></i>
        E-Mail Alerts
      </h2>
      <p>
        As new material gets added, you can stay informed about
        any additional matches for your previous searches by
        setting up e-mail alerts.
      </p>

    </div>

    <div class="col-md-4 feature">
      <h2>
        <i class="fa fa-fw fa-users"></i>
        Persons of interest
      </h2>
      <p>
        Gazettes are cross-referenced with persons and companies by ID and CIPC numbers respectively.
      </p>
      <form class="form-horizontal actions" role="search" ng-submit="searchEntities(form)">
        <div class="input-group">
          <input type="text" class="form-control" autofocus ng-model="entitiesQuery.q"
            placeholder="{{::statistics.entities_count | number}} people and companies">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
        <p class="context">
          <a href="/datasets">Browse databases</a>.
        </p>
      </form>
    </div>
  </div>
  <div class="row">
    What's Happening...
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="slide1.jpg" />
          <p class="flex-caption">Adventurer Cheesecake Brownie</p>
        </li>
        <li>
          <img src="slide2.jpg" />
          <p class="flex-caption">Adventurer Lemon</p>
        </li>
        <li>
          <img src="slide3.jpg" />
          <p class="flex-caption">Adventurer Donut</p>
        </li>
        <li>
          <img src="slide4.jpg" />
          <p class="flex-caption">Adventurer Caramel</p>
        </li>
      </ul>
</div>
  </div>

</div>
