<!DOCTYPE html>
<html lang="en" ng-app="aleph">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>{{config.APP_TITLE}}</title>

    <meta property="og:title" content="{{config.APP_TITLE}}" />
    <meta name="description" content="Making {{config.NATIONALITY}} Government Gazettes freely available." />
    <meta property="og:description" content="Making {{config.NATIONALITY}} Government Gazettes freely available." />
    <link rel="canonical" href="{{config.OPENGAZETTES_URL}}" />
    <meta property="og:url" content="{{config.OPENGAZETTES_URL}}" />
    <meta property="og:site_name" content="{{config.APP_TITLE}}" />
    <meta property="og:image" content="http://opengazettes.org.za/img/banner_5.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='assets/aleph.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ config.APP_FAVICON }}">

    <base href="{{url_for('.ui')}}">
  </head>
  <body ng-controller="AppCtrl" ng-keyup="keyDownNotify($event)">
    {% if config.MAINTENANCE %}
      <div id="maintenance">
        {{config.APP_TITLE}} is currently under maintenance. No changes can be made
        to the system.
      </div>
    {% endif %}

    <div id="page" ng-show="session.roles">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="navbarCollapsed = !navbarCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{config.OPENGAZETTES_URL}}"><img alt="{{config.APP_TITLE}}" src="{{config.APP_LOGO}}"></a>
            <a class="navbar-brand" href="{{config.OPENGAZETTES_URL}}">{{config.APP_TITLE}}</a>
          </div>

          <div uib-collapse="navbarCollapsed" class="navbar-collapse bs-js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{'active': navSection =='documents'}">
                <a href="/">Search</a>
              </li>
              <li>
                <a href="{{config.OPENGAZETTES_URL}}/join">Liberate Gazettes</a>
              </li>
              <li>
                <a href="{{config.OPENGAZETTES_URL}}/about">About</a>
              </li>
              <li>
                <a href="{{config.OPENGAZETTES_URL}}/about#contact-us">Contact</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-cloak>
              <li ng-show="!session.logged_in">
                <a ng-click="triggerLogin()">
                  <i class="fa fa-fw fa-sign-in"></i> Sign in
                </a>
              </li>
              <li ng-show="session.logged_in && session.role.is_admin"
                 ng-class="{'active': navSection =='admin'}" uib-dropdown>
                <a href="#" uib-dropdown-toggle>
                  <i class="fa fa-fw fa-warning"></i> Admin
                </a>
                <ul uib-dropdown-menu role="menu">
                  <li role="menuitem">
                    <a href="/crawlers" class="click">
                      <i class="fa fa-fw fa-sitemap" aria-hidden="true"></i>
                      Crawler Manager
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <a href="https://github.com/alephdata/aleph/issues" class="click">
                      <i class="fa fa-fw fa-github-square"></i>
                      GitHub Issues
                    </a>
                  </li>
                </ul>
              </li>
              <li ng-show="session.logged_in && !metadata.maintenance">
                <a ng-click="editProfile($event)">
                  <i class="fa fa-fw fa-cog"></i> Settings
                </a>
              </li>
              <li ng-show="session.logged_in && !metadata.maintenance">
                <a ng-click="manageAlerts($event)">
                  <i class="fa fa-fw fa-bell"></i> Alerts
                </a>
              </li>
              <li ng-show="session.logged_in">
                <a href="{{url_for('sessions_api.logout')}}" target="_self">
                  <i class="fa fa-fw fa-sign-out"></i> Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="spinner-wrapper">
        <div id="spinner-overlay" ng-hide="routeLoaded && !routeError">
          <div class="spinner" ng-hide="routeFailed">
            <i class="fa fa-circle-o-notch fa-spin big-icon"></i>
          </div>
          <div class="spinner failed" ng-show="routeFailed" ng-cloak>
            <error-message error="routeError" session="session">
            </error-message>
          </div>
        </div>
        <div ng-view autoscroll="true"></div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <div style="margin: 0 auto; display: table;">
                <a href="http://kenyalaw.org" target="_blank"><img src="static/images/logos/kenyalaw.png" class="logo" alt="Kenya Law" style="height: 75px;"></a>
                <a href="https://www.africanlii.org"  target="_blank" rel="noopener"><img src="static/images/logos/africanlii.png" class="logo" alt="AfricanLII"></a>
                <a href="https://investigativecenters.org"  target="_blank"><img src="static/images/logos/ancir.png" class="logo" alt="ANCIR"></a>
              </div>
          </div>
        </div>
        <div class="row footer_text">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-sm-4">
            <h3>Solutions</h3>
            <ul>
              <li><a href="/solutions">Use Cases</a></li>
              <li><a href="/plans">Plans &amp; Pricing</a></li>
              <li><a href="/contact">Contact Sales</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h3>Documentation</h3>
            <ul>
              <li><a href="/about">About OpenGazettes</a></li>
              <li><a href="/api">API Reference</a></li>
            </ul>
          </div>
          <div class="col-sm-3 col-sm-offset-3">
            <h3>Policies</h3>
            <ul>
              <li><a href="/privacy_policy">Privacy Policy</a></li>
              <li><a href="/redaction_policy">Redaction Policy</a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="row attributions">
          <div class="col-md-12">
            <div class="mentions">
              <div class="mention">
                <span>Funded by</span>
                <a href="https://innovateafrica.fund/" target="_blank"><img src="static/images/logos/Innovate_africa.png" alt="Innovateafrica"></a>
              </div>
              <div class="mention">
                <span>&nbsp; Brought to you by</span>
                <a href="https://codeforafrica.org/" target="_blank"><img src="static/images/logos/CfAFRICA-White.png" alt="CfA"></a>
              </div>
            </div>
          </div>
        </div>
        </div>
    </footer>

    {% if config.GA_TRACKING_ID is defined %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config.GA_TRACKING_ID }}', 'auto');
    </script>
    <!-- End Google Analytics -->
    {% endif %}

    {% for path, tmpl in templates %}
      <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
    {% endfor %}

    <script src="{{ url_for('static', filename='assets/aleph.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
